body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/dublin.jpg') no-repeat center center/cover ;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

main {
    padding-top: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px;
}

nav ul li a:hover {
    color: #ffd700;
}

/* .card {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    text-align: left;
} */
.card {
    background: rgba(110, 120, 120, 0);
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
input,textarea,button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    background: #ffd700;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    padding: 10px 20px;
}

button:hover {
    background: #ffcc00;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}